@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1734938741166') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lanmu:before {
  content: "\e61f";
}

.icon-zhongyintong-shenfenyanzheng-xiangji:before {
  content: "\e620";
}

.icon-chazhao:before {
  content: "\e61d";
}

