.container{
    width:1650px;
    display:flex;
    justify-content:center;
    margin:auto;
    flex-wrap:wrap;
}
.box{
    width:1440px;
    height:800px;
    justify-content:center;
    border-radius:25px;
    border:solid rgb(0, 213, 255);
    flex-wrap:wrap;
}
.top-letter{
    width:1500px;
    height:auto;
    margin:10px;
}
.letter{
    background-color: gray;
    font-size:1.5rem;
}
.top-district{
    width: 1420px;
    height:100px;
    margin:10px;
    display:flex;
    font-size:2rem;
    letter-spacing:0.5rem;
}
#picture{
    height:100px;
    width:auto;
    border-radius:50%;
}
.navigation-bar{
    width:1300px;
    height:50px;
    margin:auto;
    position:relative;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
li{
   float:left;
}
a{
    background-color:rgb(0, 234, 255);
    display:inline-block;
    color:black;
    text-decoration:none;
    text-align:center;
    font-size:1.5rem;
    width:260px;
    height:50px;
    line-height:50px;
}
.content{
    width:1400px;
    margin:auto;
    height:455px;
    margin-top:75px;
    display:flex;
    flex-wrap:wrap;
}
.email{
    display:flex;
    font-size:1.5rem;
    font-weight:bold;
    width:1400px;
    height:50px;;
    align-items:center;
}
.icon{
    background:none;
    width:auto;
}
.space{
    width:20px;
}
.sidebar{
    display:inline-block;
    width:100px;
    height:400px;
}
.information{
    width:1150px;
    height:400px;
    overflow:scroll;
    overflow-x:hidden;
}
.left-bar{
    background-color: rgb(9, 237, 237);
    width:80px;
    height:auto;
    margin-bottom:10px;
    margin-left:-10px;
    border-radius:5px;
}
.left-button{
    width:80px;
    height:50px;
    background:none;
}
.left-button:focus::after{
    font-size: 30px;
    font-family:"iconfont";
    content:"\e720"
}
button{
    width:1100px;
    height:110px;
    border-radius:20px;
    border:none;
    cursor:pointer;
    background-image:linear-gradient(to right,rgb(9, 193, 244),white);
    display: flex;
    align-items:center;
}
.content-email{
    width:600px;
    margin-left:30px;
    height:auto;
    font-size:1.5rem;
    text-align:start;
}
.time{
    margin:20px;
    width:125px;
    height:auto;
    font-size:1.5rem;
}
.delete-button{
    width:50px;
    height:30px;
    display: inline-block;
    border-radius:0;
    background:none;
    position:relative;
    top:-18%;
    left:80%;
    cursor:alias;
}
.reply-button{
    width:50px;
    height:30px;
    display: inline-block;
    border-radius:0;
    background:none;
    position:relative;
    top:-18%;
    left:80%;
    cursor:alias;
}
.write-email{
    position: relative;
    top:93%;
    width:60px;
    height:auto;
    background:none;
    background-color: rgb(17, 192, 205);
}
.bottom{
    width:1500px;
    height:auto;
}
