      body{
            margin: 0;
            padding: 0;
        }
        .div{ 
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            overflow-x:visible;
        }
        .bg{
            position:relative;
        }
        .newproduct{
            position:absolute;
            top:2%;
            left:20%;
            font-size:1.5rem;
            color:white;
        }
        .buyonline{
            position:absolute;
            top:2%;
            left:30%;
            font-size:1.5rem;
            color:white;
        }
        .gift{
            position:absolute;
            top:2%;
            left:63%;
            font-size:1.5rem;
            color:white;
        }
        .introduction{
            position:absolute;
            top:2%;
            left:73%;
            font-size:1.5rem;
            color:white;
        }
        .welcometolamy{
            position:absolute;
            text-align:justify;
            width:33%;
            top:8%;
            left:47%;
            font-size:1.5rem;
            line-height:3rem;
        }
        span{
            font-weight:bold;
        }
        .panintroduction-1{
            position:absolute;   
            top:45%;
            left:0%;
            text-align: center;
            font-size:1.8rem;
        }
        .panintroduction-2{
            position:absolute;   
            top:45%;
            left:35.5%;
            text-align: center;
            font-size:1.8rem;
        }
        .panintroduction-3{
            position:absolute;   
            top:45%;
            right:0%;
            text-align: center;
            font-size:1.8rem;
        }
        .learnmore{
            position:absolute;
            top:69.4%;
            left:46%;
            font-size:1.8rem;
            color:white;
        }
        .comment{
            position:absolute;
            top:21%;
            left:37%;
        }
        .buyquickly{
            position:absolute;
            bottom:2.1%;
            left:44.7%;
            font-size:1.8em;
            letter-spacing:0.4em;
            color:white;
        }
        .introduct1{
            position:absolute;
            font-style:italic;
            font-weight:bold;
            font-size:1.4em;
            top:5%;
            left:50%;
        }
        .introduct2{
            position:absolute;
            font-style:italic;
            font-weight:bold;
            font-size:1.4em;
            top:14%;
            left:50%;
        }
        .introduct3{
            position:absolute;
            font-style:italic;
            font-weight:bold;
            font-size:1.4em;
            top:22%;
            left:50%;
        }
        .newproduct-end{
            position:absolute;
            top:32.7%;
            left:46%;
            font-size:1.8rem;
            color:white;
        }
